<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- Файл с настройками плагинов для устройств -->
  <add key="DeviceHandlersFileName"  value="config\\DeviceHandlers.xml"/>
  <!-- Файл с настройками плагинов куда сохранять данные в систему -->
  <add key="SystemHandlersFileName"  value="config\\SystemHandlers.xml"/>
</appSettings>